<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Space X  Falcon 9 First Stage Landing Prediction**

## Lab 2: Data wrangling

Estimated time needed: **60** minutes

In this lab, we will perform some Exploratory Data Analysis (EDA) to find some patterns in the data and determine what would be the label for training supervised models.

In the data set, there are several different cases where the booster did not land successfully. Sometimes a landing was attempted but failed due to an accident; for example, <code>True Ocean</code> means the mission outcome was successfully  landed to a specific region of the ocean while <code>False Ocean</code> means the mission outcome was unsuccessfully landed to a specific region of the ocean. <code>True RTLS</code> means the mission outcome was successfully  landed to a ground pad <code>False RTLS</code> means the mission outcome was unsuccessfully landed to a ground pad.<code>True ASDS</code> means the mission outcome was successfully landed on  a drone ship <code>False ASDS</code> means the mission outcome was unsuccessfully landed on a drone ship.

In this lab we will mainly convert those outcomes into Training Labels with `1` means the booster successfully landed `0` means it was unsuccessful.

Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing\_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

## Objectives

Perform exploratory  Data Analysis and determine Training Labels

*   Exploratory Data Analysis
*   Determine Training Labels

***

## Import Libraries and Define Auxiliary Functions

We will import the following libraries.

In [6]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

### Data Analysis

Load Space X dataset, from last section.

In [7]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

Identify and calculate the percentage of the missing values in each attribute

In [8]:
df.isnull().sum()/df.count()*100

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

Identify which columns are numerical and categorical:

In [9]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

### TASK 1: Calculate the number of launches on each site

The data contains several Space X  launch facilities: <a href='https://en.wikipedia.org/wiki/List_of_Cape_Canaveral_and_Merritt_Island_launch_sites?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01'>Cape Canaveral Space</a> Launch Complex 40  <b>VAFB SLC 4E </b> , Vandenberg Air Force Base Space Launch Complex 4E <b>(SLC-4E)</b>, Kennedy Space Center Launch Complex 39A <b>KSC LC 39A </b>.The location of each Launch Is placed in the column <code>LaunchSite</code>

Next, let's see the number of launches for each site.

Use the method  <code>value_counts()</code> on the column <code>LaunchSite</code> to determine the number of launches  on each site:

In [10]:
# Apply value_counts() on column LaunchSite
df['LaunchSite'].value_counts

<bound method IndexOpsMixin.value_counts of 0     CCAFS SLC 40
1     CCAFS SLC 40
2     CCAFS SLC 40
3      VAFB SLC 4E
4     CCAFS SLC 40
          ...
85      KSC LC 39A
86      KSC LC 39A
87      KSC LC 39A
88    CCAFS SLC 40
89    CCAFS SLC 40
Name: LaunchSite, Length: 90, dtype: object>

Each launch aims to an dedicated orbit, and here are some common orbit types:

*   <b>LEO</b>: Low Earth orbit (LEO)is an Earth-centred orbit with an altitude of 2,000 km (1,200 mi) or less (approximately one-third of the radius of Earth),\[1] or with at least 11.25 periods per day (an orbital period of 128 minutes or less) and an eccentricity less than 0.25.\[2] Most of the manmade objects in outer space are in LEO <a href='https://en.wikipedia.org/wiki/Low_Earth_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01'>\[1]</a>.

*   <b>VLEO</b>: Very Low Earth Orbits (VLEO) can be defined as the orbits with a mean altitude below 450 km. Operating in these orbits can provide a number of benefits to Earth observation spacecraft as the spacecraft operates closer to the observation<a href='https://www.researchgate.net/publication/271499606_Very_Low_Earth_Orbit_mission_concepts_for_Earth_Observation_Benefits_and_challenges?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01'>\[2]</a>.

*   <b>GTO</b> A geosynchronous orbit is a high Earth orbit that allows satellites to match Earth's rotation. Located at 22,236 miles (35,786 kilometers) above Earth's equator, this position is a valuable spot for monitoring weather, communications and surveillance. Because the satellite orbits at the same speed that the Earth is turning, the satellite seems to stay in place over a single longitude, though it may drift north to south,” NASA wrote on its Earth Observatory website <a  href="https://www.space.com/29222-geosynchronous-orbit.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" >\[3] </a>.

*   <b>SSO (or SO)</b>: It is a Sun-synchronous orbit  also called a heliosynchronous orbit is a nearly polar orbit around a planet, in which the satellite passes over any given point of the planet's surface at the same local mean solar time <a href="https://en.wikipedia.org/wiki/Sun-synchronous_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">\[4] <a>.

*   <b>ES-L1 </b>:At the Lagrange points the gravitational forces of the two large bodies cancel out in such a way that a small object placed in orbit there is in equilibrium relative to the center of mass of the large bodies. L1 is one such point between the sun and the earth <a href="https://en.wikipedia.org/wiki/Lagrange_point?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01#L1_point">\[5]</a> .

*   <b>HEO</b> A highly elliptical orbit, is an elliptic orbit with high eccentricity, usually referring to one around Earth <a href="https://en.wikipedia.org/wiki/Highly_elliptical_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">\[6]</a>.

*   <b> ISS </b> A modular space station (habitable artificial satellite) in low Earth orbit. It is a multinational collaborative project between five participating space agencies: NASA (United States), Roscosmos (Russia), JAXA (Japan), ESA (Europe), and CSA (Canada)<a href="https://en.wikipedia.org/wiki/International_Space_Station?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[7] </a>

*   <b> MEO </b> Geocentric orbits ranging in altitude from 2,000 km (1,200 mi) to just below geosynchronous orbit at 35,786 kilometers (22,236 mi). Also known as an intermediate circular orbit. These are "most commonly at 20,200 kilometers (12,600 mi), or 20,650 kilometers (12,830 mi), with an orbital period of 12 hours <a href="https://en.wikipedia.org/wiki/List_of_orbits?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[8] </a>

*   <b> HEO </b> Geocentric orbits above the altitude of geosynchronous orbit (35,786 km or 22,236 mi) <a href="https://en.wikipedia.org/wiki/List_of_orbits?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[9] </a>

*   <b> GEO </b> It is a circular geosynchronous orbit 35,786 kilometres (22,236 miles) above Earth's equator and following the direction of Earth's rotation <a href="https://en.wikipedia.org/wiki/Geostationary_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[10] </a>

*   <b> PO </b> It is one type of satellites in which a satellite passes above or nearly above both poles of the body being orbited (usually a planet such as the Earth <a href="https://en.wikipedia.org/wiki/Polar_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[11] </a>

some are shown in the following plot:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/Orbits.png)

### TASK 2: Calculate the number and occurrence of each orbit

Use the method  <code>.value_counts()</code> to determine the number and occurrence of each orbit in the  column <code>Orbit</code>

In [11]:
# Apply value_counts on Orbit column
df['Orbit'].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

### TASK 3: Calculate the number and occurence of mission outcome per orbit type

Use the method <code>.value_counts()</code> on the column <code>Outcome</code> to determine the number of <code>landing_outcomes</code>.Then assign it to a variable landing_outcomes.

In [15]:
# landing_outcomes = values on Outcome column
landing_outcomes = df['Outcome'].value_counts()

<code>True Ocean</code> means the mission outcome was successfully  landed to a specific region of the ocean while <code>False Ocean</code> means the mission outcome was unsuccessfully landed to a specific region of the ocean. <code>True RTLS</code> means the mission outcome was successfully  landed to a ground pad <code>False RTLS</code> means the mission outcome was unsuccessfully landed to a ground pad.<code>True ASDS</code> means the mission outcome was successfully  landed to a drone ship <code>False ASDS</code> means the mission outcome was unsuccessfully landed to a drone ship. <code>None ASDS</code> and <code>None None</code> these represent a failure to land.

In [16]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

We create a set of outcomes where the second stage did not land successfully:

In [17]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

### TASK 4: Create a landing outcome label from Outcome column

Using the <code>Outcome</code>,  create a list where the element is zero if the corresponding  row  in  <code>Outcome</code> is in the set <code>bad_outcome</code>; otherwise, it's one. Then assign it to the variable <code>landing_class</code>:

In [21]:
# landing_class = 0 if bad_outcome
landing_class = []
for i in range(len(df['Outcome'])):
    if df['Outcome'][i] in bad_outcomes:
        landing_class.append(0)
    else:
        landing_class.append(1)
# landing_class = 1 otherwise
print(landing_class)

[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

This variable will represent the classification variable that represents the outcome of each launch. If the value is zero, the  first stage did not land successfully; one means  the first stage landed Successfully

In [22]:
df['Class']=landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [23]:
df.head(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

We can use the following line of code to determine  the success rate:

In [24]:
df["Class"].mean()

0.6666666666666666

In [29]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)
print(df)

    FlightNumber        Date BoosterVersion   PayloadMass  Orbit  \
0   1             2010-06-04  Falcon 9       6104.959412   LEO
1   2             2012-05-22  Falcon 9       525.000000    LEO
2   3             2013-03-01  Falcon 9       677.000000    ISS
3   4             2013-09-29  Falcon 9       500.000000    PO
4   5             2013-12-03  Falcon 9       3170.000000   GTO
5   6             2014-01-06  Falcon 9       3325.000000   GTO
6   7             2014-04-18  Falcon 9       2296.000000   ISS
7   8             2014-07-14  Falcon 9       1316.000000   LEO
8   9             2014-08-05  Falcon 9       4535.000000   GTO
9   10            2014-09-07  Falcon 9       4428.000000   GTO
10  11            2014-09-21  Falcon 9       2216.000000   ISS
11  12            2015-01-10  Falcon 9       2395.000000   ISS
12  13            2015-02-11  Falcon 9       570.000000    ES-L1
13  14            2015-04-14  Falcon 9       1898.000000   ISS
14  15            2015-04-27  Falcon 9       4707.000000   GTO
15  16            2015-06-28  Falcon 9       2477.000000   ISS
16  17            2015-12-22  Falcon 9       2034.000000   LEO
17  18            2016-01-17  Falcon 9       553.000000    PO
18  19            2016-03-04  Falcon 9       5271.000000   GTO
19  20            2016-04-08  Falcon 9       3136.000000   ISS
20  21            2016-05-06  Falcon 9       4696.000000   GTO
21  22            2016-05-27  Falcon 9       3100.000000   GTO
22  23            2016-07-18  Falcon 9       2257.000000   ISS
23  24            2016-08-14  Falcon 9       4600.000000   GTO
24  25            2016-09-01  Falcon 9       5500.000000   GTO
25  26            2017-01-14  Falcon 9       9600.000000   PO
26  27            2017-02-19  Falcon 9       2490.000000   ISS
27  28            2017-03-16  Falcon 9       5600.000000   GTO
28  29            2017-03-30  Falcon 9       5300.000000   GTO
29  30            2017-05-01  Falcon 9       6104.959412   LEO
30  31            2017-05-15  Falcon 9       6070.000000   GTO
31  32            2017-06-03  Falcon 9       2708.000000   ISS
32  33            2017-06-23  Falcon 9       3669.000000   GTO
33  34            2017-06-25  Falcon 9       9600.000000   PO
34  35            2017-07-05  Falcon 9       6761.000000   GTO
35  36            2017-08-14  Falcon 9       2910.000000   ISS
36  37            2017-08-24  Falcon 9       475.000000    SSO
37  38            2017-09-07  Falcon 9       4990.000000   LEO
38  39            2017-10-09  Falcon 9       9600.000000   PO
39  40            2017-10-11  Falcon 9       5200.000000   GTO
40  41            2017-10-30  Falcon 9       3700.000000   GTO
41  42            2017-12-15  Falcon 9       2205.000000   ISS
42  43            2017-12-23  Falcon 9       9600.000000   PO
43  44            2018-01-08  Falcon 9       6104.959412   LEO
44  45            2018-01-31  Falcon 9       4230.000000   GTO
45  46            2018-03-06  Falcon 9       6092.000000   GTO
46  47            2018-03-30  Falcon 9       9600.000000   PO
47  48            2018-04-02  Falcon 9       2760.000000   ISS
48  49            2018-04-18  Falcon 9       350.000000    HEO
49  50            2018-05-11  Falcon 9       3750.000000   GTO
50  51            2018-06-04  Falcon 9       5383.850000   GTO
51  52            2018-06-29  Falcon 9       2410.000000   ISS
52  53            2018-07-22  Falcon 9       7076.000000   GTO
53  54            2018-07-25  Falcon 9       9600.000000   PO
54  55            2018-08-07  Falcon 9       5800.000000   GTO
55  56            2018-09-10  Falcon 9       7060.000000   GTO
56  57            2018-10-08  Falcon 9       2800.000000   SSO
57  58            2018-11-15  Falcon 9       3000.000000   GTO
58  59            2018-12-03  Falcon 9       4000.000000   SSO
59  60            2018-12-05  Falcon 9       2573.000000   ISS
60  61            2018-12-23  Falcon 9       4400.000000   MEO
61  62            2019-01-11  Falcon 9       9600.000000   PO
62  63            2019-03-02  Falcon 9       12259.000000  ISS
63  64            2019-05-04  Falcon 9       2482.000000   ISS
64  65            2019-05-24  Falcon 9       13620.000000  VLEO
65  66            2019-06-12  Falcon 9       1425.000000   SSO
66  67            2019-07-25  Falcon 9       2227.700000   ISS
67  68            2019-08-06  Falcon 9       6500.000000   GTO
68  69            2019-11-11  Falcon 9       15600.000000  VLEO
69  70            2019-12-05  Falcon 9       5000.000000   ISS
70  71            2019-12-17  Falcon 9       6800.000000   GTO
71  72            2020-01-07  Falcon 9       15400.000000  VLEO
72  73            2020-01-19  Falcon 9       6104.959412   SO
73  74            2020-01-29  Falcon 9       15600.000000  VLEO
74  75            2020-02-17  Falcon 9       15400.000000  VLEO
75  76            2020-03-07  Falcon 9       1977.000000   ISS
76  77            2020-03-18  Falcon 9       15600.000000  VLEO
77  78            2020-04-22  Falcon 9       15400.000000  VLEO
78  79            2020-05-30  Falcon 9       9525.000000   ISS
79  80            2020-06-04  Falcon 9       15400.000000  VLEO
80  81            2020-06-13  Falcon 9       15400.000000  VLEO
81  82            2020-06-30  Falcon 9       3880.000000   MEO
82  83            2020-07-20  Falcon 9       6104.959412   GEO
83  84            2020-08-18  Falcon 9       15400.000000  VLEO
84  85            2020-08-30  Falcon 9       1600.000000   SSO
85  86            2020-09-03  Falcon 9       15400.000000  VLEO
86  87            2020-10-06  Falcon 9       15400.000000  VLEO
87  88            2020-10-18  Falcon 9       15400.000000  VLEO
88  89            2020-10-24  Falcon 9       15400.000000  VLEO
89  90            2020-11-05  Falcon 9       3681.000000   MEO

      LaunchSite      Outcome  Flights  GridFins  Reused   Legs  \
0   CCAFS SLC 40  None None    1        False     False   False
1   CCAFS SLC 40  None None    1        False     False   False
2   CCAFS SLC 40  None None    1        False     False   False
3   VAFB SLC 4E   False Ocean  1        False     False   False
4   CCAFS SLC 40  None None    1        False     False   False
5   CCAFS SLC 40  None None    1        False     False   False
6   CCAFS SLC 40  True Ocean   1        False     False   True
7   CCAFS SLC 40  True Ocean   1        False     False   True
8   CCAFS SLC 40  None None    1        False     False   False
9   CCAFS SLC 40  None None    1        False     False   False
10  CCAFS SLC 40  False Ocean  1        False     False   False
11  CCAFS SLC 40  False ASDS   1        True      False   True
12  CCAFS SLC 40  True Ocean   1        True      False   True
13  CCAFS SLC 40  False ASDS   1        True      False   True
14  CCAFS SLC 40  None None    1        False     False   False
15  CCAFS SLC 40  None ASDS    1        True      False   True
16  CCAFS SLC 40  True RTLS    1        True      False   True
17  VAFB SLC 4E   False ASDS   1        True      False   True
18  CCAFS SLC 40  False ASDS   1        True      False   True
19  CCAFS SLC 40  True ASDS    1        True      False   True
20  CCAFS SLC 40  True ASDS    1        True      False   True
21  CCAFS SLC 40  True ASDS    1        True      False   True
22  CCAFS SLC 40  True RTLS    1        True      False   True
23  CCAFS SLC 40  True ASDS    1        True      False   True
24  CCAFS SLC 40  None ASDS    1        True      False   True
25  VAFB SLC 4E   True ASDS    1        True      False   True
26  KSC LC 39A    True RTLS    1        True      False   True
27  KSC LC 39A    None None    1        False     False   False
28  KSC LC 39A    True ASDS    2        True      True    True
29  KSC LC 39A    True RTLS    1        True      False   True
30  KSC LC 39A    None None    1        False     False   False
31  KSC LC 39A    True RTLS    1        True      False   True
32  KSC LC 39A    True ASDS    2        True      True    True
33  VAFB SLC 4E   True ASDS    1        True      False   True
34  KSC LC 39A    None None    1        False     False   False
35  KSC LC 39A    True RTLS    1        True      False   True
36  VAFB SLC 4E   True ASDS    1        True      False   True
37  KSC LC 39A    True RTLS    1        True      False   True
38  VAFB SLC 4E   True ASDS    1        True      False   True
39  KSC LC 39A    True ASDS    2        True      True    True
40  KSC LC 39A    True ASDS    1        True      False   True
41  CCAFS SLC 40  True RTLS    2        True      True    True
42  VAFB SLC 4E   True Ocean   2        True      True    False
43  CCAFS SLC 40  True RTLS    1        True      False   True
44  CCAFS SLC 40  True Ocean   2        True      True    True
45  CCAFS SLC 40  None None    1        True      False   True
46  VAFB SLC 4E   None None    2        True      True    True
47  CCAFS SLC 40  None None    2        True      True    True
48  CCAFS SLC 40  True ASDS    1        True      False   True
49  KSC LC 39A    True ASDS    1        True      False   True
50  CCAFS SLC 40  None None    2        False     True    False
51  CCAFS SLC 40  None None    2        False     True    False
52  CCAFS SLC 40  True ASDS    1        True      False   True
53  VAFB SLC 4E   True ASDS    1        True      False   True
54  CCAFS SLC 40  True ASDS    2        True      True    True
55  CCAFS SLC 40  True ASDS    1        True      False   True
56  VAFB SLC 4E   True RTLS    2        True      True    True
57  KSC LC 39A    True ASDS    2        True      True    True
58  VAFB SLC 4E   True ASDS    3        True      True    True
59  CCAFS SLC 40  False RTLS   1        True      False   True
60  CCAFS SLC 40  None None    1        False     False   False
61  VAFB SLC 4E   True ASDS    2        True      True    True
62  KSC LC 39A    True ASDS    1        True      False   True
63  CCAFS SLC 40  True ASDS    1        True      False   True
64  CCAFS SLC 40  True ASDS    3        True      True    True
65  VAFB SLC 4E   True RTLS    2        True      True    True
66  CCAFS SLC 40  True RTLS    2        True      True    True
67  CCAFS SLC 40  None None    3        False     True    False
68  CCAFS SLC 40  True ASDS    4        True      True    True
69  CCAFS SLC 40  True ASDS    1        True      False   True
70  CCAFS SLC 40  True ASDS    3        True      True    True
71  CCAFS SLC 40  True ASDS    4        True      True    True
72  KSC LC 39A    None None    4        False     True    False
73  CCAFS SLC 40  True ASDS    3        True      True    True
74  CCAFS SLC 40  False ASDS   4        True      True    True
75  CCAFS SLC 40  True RTLS    2        True      True    True
76  KSC LC 39A    False ASDS   5        True      True    True
77  KSC LC 39A    True ASDS    4        True      True    True
78  KSC LC 39A    True ASDS    1        True      False   True
79  CCAFS SLC 40  True ASDS    5        True      True    True
80  CCAFS SLC 40  True ASDS    3        True      True    True
81  CCAFS SLC 40  True ASDS    1        True      False   True
82  CCAFS SLC 40  True ASDS    2        True      True    True
83  CCAFS SLC 40  True ASDS    6        True      True    True
84  CCAFS SLC 40  True RTLS    4        True      True    True
85  KSC LC 39A    True ASDS    2        True      True    True
86  KSC LC 39A    True ASDS    3        True      True    True
87  KSC LC 39A    True ASDS    6        True      True    True
88  CCAFS SLC 40  True ASDS    3        True      True    True
89  CCAFS SLC 40  True ASDS    1        True      False   True

                  LandingPad  Block  ReusedCount Serial   Longitude  \
0   NaN                       1.0    0            B0003 -80.577366
1   NaN                       1.0    0            B0005 -80.577366
2   NaN                       1.0    0            B0007 -80.577366
3   NaN                       1.0    0            B1003 -120.610829
4   NaN                       1.0    0            B1004 -80.577366
5   NaN                       1.0    0            B1005 -80.577366
6   NaN                       1.0    0            B1006 -80.577366
7   NaN                       1.0    0            B1007 -80.577366
8   NaN                       1.0    0            B1008 -80.577366
9   NaN                       1.0    0            B1011 -80.577366
10  NaN                       1.0    0            B1010 -80.577366
11  5e9e3032383ecb761634e7cb  1.0    0            B1012 -80.577366
12  NaN                       1.0    0            B1013 -80.577366
13  5e9e3032383ecb761634e7cb  1.0    0            B1015 -80.577366
14  NaN                       1.0    0            B1016 -80.577366
15  5e9e3032383ecb6bb234e7ca  1.0    0            B1018 -80.577366
16  5e9e3032383ecb267a34e7c7  1.0    0            B1019 -80.577366
17  5e9e3033383ecbb9e534e7cc  1.0    0            B1017 -120.610829
18  5e9e3032383ecb6bb234e7ca  1.0    0            B1020 -80.577366
19  5e9e3032383ecb6bb234e7ca  2.0    1            B1021 -80.577366
20  5e9e3032383ecb6bb234e7ca  2.0    0            B1022 -80.577366
21  5e9e3032383ecb6bb234e7ca  2.0    1            B1023 -80.577366
22  5e9e3032383ecb267a34e7c7  2.0    1            B1025 -80.577366
23  5e9e3032383ecb6bb234e7ca  2.0    0            B1026 -80.577366
24  5e9e3032383ecb6bb234e7ca  3.0    0            B1028 -80.577366
25  5e9e3033383ecbb9e534e7cc  3.0    1            B1029 -120.610829
26  5e9e3032383ecb267a34e7c7  3.0    1            B1031 -80.603956
27  NaN                       3.0    0            B1030 -80.603956
28  5e9e3032383ecb6bb234e7ca  2.0    1            B1021 -80.603956
29  5e9e3032383ecb267a34e7c7  3.0    1            B1032 -80.603956
30  NaN                       3.0    0            B1034 -80.603956
31  5e9e3032383ecb267a34e7c7  3.0    1            B1035 -80.603956
32  5e9e3032383ecb6bb234e7ca  3.0    1            B1029 -80.603956
33  5e9e3033383ecbb9e534e7cc  3.0    1            B1036 -120.610829
34  NaN                       3.0    0            B1037 -80.603956
35  5e9e3032383ecb267a34e7c7  4.0    1            B1039 -80.603956
36  5e9e3033383ecbb9e534e7cc  3.0    1            B1038 -120.610829
37  5e9e3032383ecb267a34e7c7  4.0    1            B1040 -80.603956
38  5e9e3033383ecbb9e534e7cc  4.0    1            B1041 -120.610829
39  5e9e3032383ecb6bb234e7ca  3.0    1            B1031 -80.603956
40  5e9e3032383ecb6bb234e7ca  4.0    0            B1042 -80.603956
41  5e9e3032383ecb267a34e7c7  3.0    1            B1035 -80.577366
42  NaN                       3.0    1            B1036 -120.610829
43  5e9e3032383ecb267a34e7c7  4.0    1            B1043 -80.577366
44  NaN                       3.0    1            B1032 -80.577366
45  NaN                       4.0    0            B1044 -80.577366
46  NaN                       4.0    1            B1041 -120.610829
47  NaN                       4.0    1            B1039 -80.577366
48  5e9e3032383ecb6bb234e7ca  4.0    1            B1045 -80.577366
49  5e9e3032383ecb6bb234e7ca  5.0    3            B1046 -80.603956
50  NaN                       4.0    1            B1040 -80.577366
51  NaN                       4.0    1            B1045 -80.577366
52  5e9e3032383ecb6bb234e7ca  5.0    2            B1047 -80.577366
53  5e9e3033383ecbb9e534e7cc  5.0    4            B1048 -120.610829
54  5e9e3032383ecb6bb234e7ca  5.0    3            B1046 -80.577366
55  5e9e3032383ecb6bb234e7ca  5.0    5            B1049 -80.577366
56  5e9e3032383ecb554034e7c9  5.0    4            B1048 -120.610829
57  5e9e3032383ecb6bb234e7ca  5.0    2            B1047 -80.603956
58  5e9e3033383ecbb9e534e7cc  5.0    3            B1046 -120.610829
59  5e9e3032383ecb267a34e7c7  5.0    0            B1050 -80.577366
60  NaN                       5.0    0            B1054 -80.577366
61  5e9e3033383ecbb9e534e7cc  5.0    5            B1049 -120.610829
62  5e9e3032383ecb6bb234e7ca  5.0    5            B1051 -80.603956
63  5e9e3032383ecb6bb234e7ca  5.0    3            B1056 -80.577366
64  5e9e3032383ecb6bb234e7ca  5.0    5            B1049 -80.577366
65  5e9e3032383ecb554034e7c9  5.0    5            B1051 -120.610829
66  5e9e3032383ecb267a34e7c7  5.0    3            B1056 -80.577366
67  NaN                       5.0    2            B1047 -80.577366
68  5e9e3032383ecb6bb234e7ca  5.0    4            B1048 -80.577366
69  5e9e3032383ecb6bb234e7ca  5.0    3            B1059 -80.577366
70  5e9e3032383ecb6bb234e7ca  5.0    3            B1056 -80.577366
71  5e9e3032383ecb6bb234e7ca  5.0    5            B1049 -80.577366
72  NaN                       5.0    3            B1046 -80.603956
73  5e9e3032383ecb6bb234e7ca  5.0    5            B1051 -80.577366
74  5e9e3032383ecb6bb234e7ca  5.0    3            B1056 -80.577366
75  5e9e3032383ecb267a34e7c7  5.0    3            B1059 -80.577366
76  5e9e3032383ecb6bb234e7ca  5.0    4            B1048 -80.603956
77  5e9e3032383ecb6bb234e7ca  5.0    5            B1051 -80.603956
78  5e9e3032383ecb6bb234e7ca  5.0    2            B1058 -80.603956
79  5e9e3033383ecbb9e534e7cc  5.0    5            B1049 -80.577366
80  5e9e3032383ecb6bb234e7ca  5.0    3            B1059 -80.577366
81  5e9e3033383ecbb9e534e7cc  5.0    2            B1060 -80.577366
82  5e9e3033383ecbb9e534e7cc  5.0    2            B1058 -80.577366
83  5e9e3032383ecb6bb234e7ca  5.0    5            B1049 -80.577366
84  5e9e3032383ecb267a34e7c7  5.0    3            B1059 -80.577366
85  5e9e3032383ecb6bb234e7ca  5.0    2            B1060 -80.603956
86  5e9e3032383ecb6bb234e7ca  5.0    2            B1058 -80.603956
87  5e9e3032383ecb6bb234e7ca  5.0    5            B1051 -80.603956
88  5e9e3033383ecbb9e534e7cc  5.0    2            B1060 -80.577366
89  5e9e3032383ecb6bb234e7ca  5.0    0            B1062 -80.577366

     Latitude  Class
0   28.561857  0
1   28.561857  0
2   28.561857  0
3   34.632093  0
4   28.561857  0
5   28.561857  0
6   28.561857  1
7   28.561857  1
8   28.561857  0
9   28.561857  0
10  28.561857  0
11  28.561857  0
12  28.561857  1
13  28.561857  0
14  28.561857  0
15  28.561857  0
16  28.561857  1
17  34.632093  0
18  28.561857  0
19  28.561857  1
20  28.561857  1
21  28.561857  1
22  28.561857  1
23  28.561857  1
24  28.561857  0
25  34.632093  1
26  28.608058  1
27  28.608058  0
28  28.608058  1
29  28.608058  1
30  28.608058  0
31  28.608058  1
32  28.608058  1
33  34.632093  1
34  28.608058  0
35  28.608058  1
36  34.632093  1
37  28.608058  1
38  34.632093  1
39  28.608058  1
40  28.608058  1
41  28.561857  1
42  34.632093  1
43  28.561857  1
44  28.561857  1
45  28.561857  0
46  34.632093  0
47  28.561857  0
48  28.561857  1
49  28.608058  1
50  28.561857  0
51  28.561857  0
52  28.561857  1
53  34.632093  1
54  28.561857  1
55  28.561857  1
56  34.632093  1
57  28.608058  1
58  34.632093  1
59  28.561857  0
60  28.561857  0
61  34.632093  1
62  28.608058  1
63  28.561857  1
64  28.561857  1
65  34.632093  1
66  28.561857  1
67  28.561857  0
68  28.561857  1
69  28.561857  1
70  28.561857  1
71  28.561857  1
72  28.608058  0
73  28.561857  1
74  28.561857  0
75  28.561857  1
76  28.608058  0
77  28.608058  1
78  28.608058  1
79  28.561857  1
80  28.561857  1
81  28.561857  1
82  28.561857  1
83  28.561857  1
84  28.561857  1
85  28.608058  1
86  28.608058  1
87  28.608058  1
88  28.561857  1
89  28.561857  1

/tmp/wsuser/ipykernel_623/1512765674.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

We can now export it to a CSV for the next section,but to make the answers consistent, in the next lab we will provide data in a pre-selected date range.

<code>df.to_csv("dataset_part\_2.csv", index=False)</code>

## Authors

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

<a href="https://www.linkedin.com/in/nayefaboutayoun/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Nayef Abou Tayoun</a> is a Data Scientist at IBM and pursuing a Master of Management in Artificial intelligence degree at Queen's University.

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description      |
| ----------------- | ------- | ------------- | ----------------------- |
| 2021-08-31        | 1.1     | Lakshmi Holla | Changed Markdown        |
| 2020-09-20        | 1.0     | Joseph        | Modified Multiple Areas |
| 2020-11-04        | 1.1.    | Nayef         | updating the input data |
| 2021-05-026       | 1.1.    | Joseph        | updating the input data |

Copyright © 2021 IBM Corporation. All rights reserved.